<nav class="navbar">
  <div class=<%= Width::CONTAINER %>>
    <div class="navbar-header">
      <a class="navbar-brand" id="logoheader" href="/"><img src="<%= asset_path("whitelogo.png") %>" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
    </div>


     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav-justified">
        
        <% if user_signed_in? %>
          <li><%= link_to "Upload a song", new_song_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <div id="logged_in_menu">
                <div id="discover"> Discover </div>
                <div id="invest"></div>
                <div id="my_account"></div>
            
            
            </div>
          <% else %>
            <li><%= link_to "SIGN UP", new_user_registration_path, class:"btn btn-md btn-transparent" %></li>
            <li><%= link_to "LOGIN", new_user_session_path, class:"btn btn-md btn-transparent" %></li>
        <% end %>
        

      </ul>
    </div>
  </div>
</nav>
