<nav class="navbar">
  <div class=<%= Width::CONTAINER %>>
    <div class="navbar-header">
      <a class="navbar-brand" id="logoheader" href="<%= user_signed_in? ? post_login_home_path : root_path %>"><img src="<%= asset_path("whitelogo.png") %>" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
    </div>


     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav-justified">
        
        <% if user_signed_in? %>
            <div id="logged_in_menu">
              <div class="my_account <%= active_class(discover_path) %>" id="discover"><a href="/discover"><i class="fa fa-globe fa-2x icon-color"></i> <br/><span class="white-top-menu-font">DISCOVER</span></a></div>
                <div class="my_account <%= active_class(fund_path) %>" id="invest"><a href="/fund"><i class="fa fa-dollar fa-2x icon-color"></i><br/><span class="white-top-menu-font">INVEST</span></a></div>
                <div class="my_account <%= active_class(albums_path) + active_class(user_path(current_user)) + active_class(wallet_path) + active_class(new_album_path) + active_class(new_song_path) + active_class(cart_page_path)  %>"><a href="/albums"><%= current_user.profile_photo.present? ? raw("<img src=\"#{current_user.profile_photo}\" width=\"300px\"><br/>") : raw("<img src=\"http://i.imgur.com/Zpu1n4f.jpg\" class= \"img-circle\" style=\"width:30px\" >") %><span class="white-top-menu-font"> MY ACCOUNT</span></a></div>
                <!-- <div class="my_account"><i class="fa fa&#45;dollar icon&#45;color"></i><span class="white&#45;top&#45;menu&#45;font"> Balance: <%= current_user.wallet.nil? ? 0 : current_user.reload.wallet.amount %> </span></div> -->
            </div>
          <% else %>
            <li><%= link_to "SIGN UP", new_user_registration_path, class:"btn btn-md btn-transparent" %></li>
            <li><%= link_to "LOGIN", new_user_session_path, class:"btn btn-md btn-transparent" %></li>
        <% end %>
        

      </ul>
    </div>
  </div>
</nav>


<% if user_signed_in? %>
  <% if current_page?(albums_path) || current_page?(user_path(current_user)) || current_page?(wallet_path) || current_page?(new_album_path) || current_page?(new_song_path) || current_page?(cart_page_path) %>
    <%= render "static_pages/secondnavbar" %>
  <% else %>
  <% end %>
<% end %>
