<nav class="navbar">
  <div class=<%= Width::CONTAINER %>>
    <div class="navbar-header">
      <a class="navbar-brand" id="logoheader" href="<%= user_signed_in? ? post_login_home_path : root_path %>"><img src="<%= asset_path("whitelogo.png") %>" alt="logo" /></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
    </div>


     <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav-justified">
        
        <% if user_signed_in? %>
            <div id="logged_in_menu">
              <div class="my_account" id="discover"><i class="fa fa-globe fa-2x icon-color"></i> <br/><span class="white-top-menu-font">DISCOVER</span> </div>
                <div class="my_account" id="invest"><i class="fa fa-dollar fa-2x icon-color"></i><br/><span class="white-top-menu-font">INVEST</span> </div>
                
                <div class="my_account"><a href="/albums"><i class="fa fa-user icon-color"></i><span class="white-top-menu-font"> MY ACCOUNT</span></a></div>
                <!-- <div class="my_account"><i class="fa fa&#45;dollar icon&#45;color"></i><span class="white&#45;top&#45;menu&#45;font"> Balance: <%= current_user.wallet.nil? ? 0 : current_user.reload.wallet.amount %> </span></div> -->
            </div>
          <% else %>
            <li><%= link_to "SIGN UP", new_user_registration_path, class:"btn btn-md btn-transparent" %></li>
            <li><%= link_to "LOGIN", new_user_session_path, class:"btn btn-md btn-transparent" %></li>
        <% end %>
        

      </ul>
    </div>
  </div>
</nav>
