<% if user_signed_in? %>
  <% if current_page?(albums_path) || current_page?(user_path(current_user)) || current_page?(wallet_path) || current_page?(new_album_path) || current_page?(new_song_path) || current_page?(cart_page_path) %>
      <div class="<%= Width::CONTAINER %>">
        <nav class="second-navbar">
          <ul class='list-inline pull-right'>
            <li><%= link_to (content_tag(:i, "", :class => "fa fa-user icon-color ")+"  PROFILE").html_safe, current_user, :class =>"second-menu-font #{active_class(user_path(current_user))}" %></li>
            <li><%= link_to (content_tag(:i, "", :class => "fa fa-money icon-color")+"  WALLET").html_safe, wallet_path, :class =>"second-menu-font #{active_class(wallet_path)}" %></li>
            <li><%= link_to (content_tag(:i, "", :class => "fa fa-upload icon-color")+"  UPLOADS").html_safe, albums_path, :class =>"second-menu-font #{active_class(albums_path)}" %></li>
            <li><%= link_to (content_tag(:i, "", :class => "fa fa-sign-out icon-color")+"  LOGOUT").html_safe, destroy_user_session_path, method: :delete, :class =>"second-menu-font" %></li>
          </ul>
        </nav>
      </div>
    <% elsif current_page?(shortlists_path) || current_page?(holdings_path) || current_page?(performance_path) || current_page?(opentrades_path) %>
      <div class="<%= Width::CONTAINER %>">
        <nav class="second-navbar">
          <ul class='list-inline pull-right'>
            <li><%= link_to (content_tag(:i, "", :class => "fa fa-list-ol icon-color ")+"  SHORTLIST | BIDS").html_safe, shortlists_path, :class =>"second-menu-font #{active_class(shortlists_path)}" %></li>
            <li><%= link_to (content_tag(:i, "", :class => "fa fa-pie-chart icon-color")+"  PORTFOLIO | OFFERS").html_safe, holdings_path, :class =>"second-menu-font #{active_class(holdings_path)}" %></li>
            <li><%= link_to (content_tag(:i, "", :class => "fa fa-line-chart icon-color")+"  DASHBOARD").html_safe, performance_path, :class =>"second-menu-font #{active_class(performance_path)}" %></li>
          </ul>
        </nav>
      </div>

  <% end %>
<% end %>
