<div id="payment_page">
  <div class="total_show row col-md-offset-1 col-md-10">

    <div class="total-show-display">
    <% if !current_subscription.subscription_items.nil? %>
       <% @total = 0 %>
        <% if current_user.transaction_logs.empty? %>
           <% @total = (@total+0).round(2) %> 
           <div class="row">
            <div class="col-md-6">
              <%= raw("Annual Upload Fee* :")%> 
            </div>
            <div class="col-md-offset-4 col-md-2">
              <%= raw("$20")%> 
            </div>
           </div>
           <div class="row">
            <div class="col-md-6">
              <%= raw("Discount until 12/02/16 :")%> 
            </div>
            <div class="col-md-offset-4 col-md-2">
              <%= raw("-$20")%> 
            </div>
           </div>
        <% else %>
        <% end %>
       <% current_subscription.subscription_items.each do |subscription_item| %>
       <% if subscription_item.album.songs.count==1 %> <br>
       <b><%= raw("Charges for #{subscription_item.album.album_name} <br/>") %></b>
       <%# <% @total = @total+12 if !subscription_item.album.songs.last.self_written  %>
       <% if !subscription_item.album.songs.last.self_written  %>
       <% @total = (@total+12).round(2) %> 
       
       <div class="row">
        <div class="col-md-6">
          <%= raw("Cover Song fees for #{subscription_item.album.album_name}:")%> 
        </div>
        <div class="col-md-offset-4 col-md-2">
          <%= raw("12")%> 
        </div>
       </div>
       <% end %>

       <% if subscription_item.subscription.shazam  %>
       <% @total = (@total+0.99).round(2) %> 
       <div class="row">
        <div class="col-md-6">
          <%= raw("Shazam:")%> 
        </div>
        <div class="col-md-offset-4 col-md-2">
          <%= raw("$0.99")%>
        </div>
       </div>
       <% end %>

       <% if subscription_item.subscription.youtube  %>
       <% @total = (@total+4.95).round(2) %> 

       <div class="row">
        <div class="col-md-6">
          <%= raw("YouTube Money:")%> 

        </div>
        <div class="col-md-offset-4 col-md-2">
          <%= raw("$4.95") %>  
        </div>
       </div>
       <% end %>

       <% if subscription_item.subscription.store_maximizer  %>
       <% @total = (@total+0).round(2) %> 

       <div class="row">
        <div class="col-md-6">
          <%= raw("Store Maximizer:")%> 
        </div>
        <div class="col-md-offset-4 col-md-2">
          <%= raw("FREE")%>
        </div>
       </div>
       <% end %>
      
       <% elsif subscription_item.album.songs.count!=1 %> <br>

       <b><%= raw("Charges for #{subscription_item.album.album_name} <br/>") %></b>
       <% subscription_item.album.songs.each do |song| %>
       <%if !song.self_written  %>
       <% @total = (@total+12).round(2) %> 
       <div class="row">
        <div class="col-md-6">
          <%= raw("Cover Song (#{song.song_title}):")%> 
        </div>
        <div class="col-md-offset-4 col-md-2">
          <%= raw("$12.00")%>
        </div>
       </div>
       <% end %>
       <% if subscription_item.subscription.shazam  %>
       <% @total = (@total+0.99).round(2) %> 
       <div class="row">
        <div class="col-md-6">
          <%= raw("Shazam (#{song.song_title}):")%> 
        </div>
        <div class="col-md-offset-4 col-md-2">
          <%= raw("$0.99")%>
        </div>
       </div>
       <% end %>
       <% end %>
       <% if subscription_item.subscription.youtube  %>
       <% @total = (@total+14.95).round(2) %> 
       <div class="row">
        <div class="col-md-6">
          <%= raw("Youtube Money:")%> 
        </div>
        <div class="col-md-offset-4 col-md-2">
          <%= raw("$14.95")%>
        </div>
       </div>
       <% end %>
       <% if subscription_item.subscription.store_maximizer  %>
       <% @total = (@total+0).round(2) %> 
       <%# <% @total = (@total+7.95).round(2) %> 
       <div class="row">
        <div class="col-md-6">
          <%= raw("Store Maximizer:")%> 
        </div>
        <div class="col-md-offset-4 col-md-2">
          <%# <%= raw("$7.95")%>
          <%= raw("FREE")%>
        </div>
       </div> 
       <% end %>
       <% end %>
       <% end %>
       <% end %>
      
       <br/>
       <b> 
       <div class="row">
        <div class="col-md-6">
          <%= raw("Total Annual Fee")%> 
        </div>
        <div class="col-md-offset-4 col-md-2">
          $<%= @total %> 
        </div>
       </div> 
       </b><br>

       <%=link_to "Click to Remove Shazam & iPhone Siri", subscription_path(current_subscription), data: { params: { subscription: { shazam: false, youtube: current_subscription.youtube, store_maximizer: current_subscription.store_maximizer, total: current_subscription.total } }.to_param }, :method => 'PATCH', remote: true if current_subscription.shazam %>
       <br/>
       <%=link_to "Click to Remove YouTube Money", subscription_path(current_subscription), data: { params: { subscription: { shazam: current_subscription.shazam, youtube: false, store_maximizer: current_subscription.store_maximizer, total: current_subscription.total } }.to_param }, :method => 'PATCH', remote: true if current_subscription.youtube %>
       <br/>
       <%=link_to "Click to Remove Store Maximizer", subscription_path(current_subscription), data: { params: { subscription: { shazam: current_subscription.shazam, youtube: current_subscription.youtube, store_maximizer: false, total: current_subscription.total } }.to_param }, :method => 'PATCH', remote: true if current_subscription.store_maximizer %>
       <br><br><br>
    </div><!-- end total-show-display -->


   <br>
   <%= link_to "Make Payment", transaction_logs_path( transaction_logs: { amount: @total} ), :class => 'btn btn-lg solid-button', :method => 'POST', data: {confirm: 'Please verify the total in the form. This is an annual fee to be paid for the extra features selected for these albums. We will collect the balance in one month. Please click on OK to confirm.'} %><br/>
  
    <% if current_user.transaction_logs.empty? %> <br>
      <%= raw("*Artists pay this annual fee for unlimited album uploads. Extra features, however, will cost more")%> 
    <% else %>
    <% end %>

 </div> <!-- ends total_show -->
</div> <!-- ends payment_page id -->



