<%= render "songs/secondheader" %>
<br>
<div class="row">
  <div class="col-sm-offset-2 col-sm-9 li-styling">

<div class="col-md-5 cart-show unpaid-cart">
    <h2 class="center-text">Your Albums</h2>  
<% if !@albums.nil? %>
      <%= render "your_unpaid_albums" %>
<% else %>
  <%= raw("Please create an album, and upload songs in it.") %>
<% end %>
</div>


<div class="col-md-offset-1 col-md-5 cart-show">
    <h2 class="center-text">Cart</h2>  
    <div class="render-cart">
      <%= render "cart_show" %>
    </div>
</div>    
  </div>
</div>
<br>

<%= render "continue" %>

<!-- <div class="row"> -->
<!--   <div class="col&#45;sm&#45;offset&#45;6 col&#45;sm&#45;6"> -->
<!--     <a href="%= payment_page_path %>"> -->
<!--       <div class="signup&#45;updates"> -->
<!--         <button class="btn btn&#45;lg btn&#45;transparent"> -->
<!--           <span id="updates">Continue</span> -->
<!--         </button> -->
<!--       </div> -->
<!--     </a> -->
<!--   </div> -->

</div>
