<%= render "songs/secondheader" %>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 li-styling">
    <h2>List of Albums and Songs</h2>
  
    <%= render "cart_show" %>

   
    
<% if !@albums.nil? %>

<% @albums.each do |album| %>
  <li class="album_<%= album.id %>">
    <i class="glyphicon glyphicon-unchecked"></i>&nbsp;
    <span class="album_index_name"> <%=album.album_name %> </span>
    <span class="album_link"> <%= link_to "Details", album_path(album) %></span>
    <span class="album_edit"> <%= link_to "Edit", edit_album_path(album) %></span>
    <%= link_to "Add To Order", order_items_path(:album_id => album.id), method: :post, remote: :true %>
  </li>
  <% album.songs.each do |song| %>
    <li class="song_<%= song.id %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span class="song_index_name"> <%=song.song_title %> </span>
      <span class="song_link"> <%= link_to "Details", song_path(song) %></span>
      <span class="song_edit"> <%= link_to "Edit", edit_song_path(song) %></span>
    </li>
  <% end %>
<% end %>
<% else %>
  <%= raw("You have not yet uploaded any songs or albums") %>
<% end %>
  </div>
</div>


<div class="row">
  <div class="col-sm-offset-6 col-sm-6">
    <a href="<%= new_song_path %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Continue</span>
        </button>
      </div>
    </a>
  </div>

</div>
