<%= render "songs/secondheader" %>
<br>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 li-styling">
<div class="col-md-7">
    <h2>Your Albums</h2>  
<% if !@albums.nil? %>

<% @albums.each do |album| %>
  <% if (album.order_items.last.nil? || !album.order_items.last.order.payment_status) && !album.songs.last.nil?%>
    <br><ul class="album_<%= album.id %>">
    <div class="row">
      <div class="col-md-5">
        <span class="album_index_name"> <%= link_to album.album_name, album_song_path(album) %></span>
      </div>
      <div class="col-md-2">
        
      </div>
      <div class="col-md-1">
        
      </div>
      <div class="col-md-4">
        <%= link_to ">>", order_items_path(:album_id => album.id), method: :post, remote: :true, :class => "album_index_name, add_to_order" %>      
      </div>
    </div>
    </ul>
  <% end %>
<% end %>
<% else %>
  <%= raw("Please upload tracks in the albums that you create") %>
<% end %>
</div>
<div class="col-md-5 cart-show">
    <h2>Cart</h2>  
    <div class="render-cart">
      <%= render "cart_show" %>
    </div>
</div>

   
    
  </div>
</div>


<!-- <div class="row"> -->
<!--   <div class="col&#45;sm&#45;offset&#45;6 col&#45;sm&#45;6"> -->
<!--     <a href="%= payment_page_path %>"> -->
<!--       <div class="signup&#45;updates"> -->
<!--         <button class="btn btn&#45;lg btn&#45;transparent"> -->
<!--           <span id="updates">Continue</span> -->
<!--         </button> -->
<!--       </div> -->
<!--     </a> -->
<!--   </div> -->

</div>
