
    <div class="modal fade" id="low_share_offer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <br/>
        </div>
        <div class="modal-body">

        <div class="field">
          <p style="color:red;" >You do not have sufficient shares to make an offer</p>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" id="low_share_offer" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    </div>

<div class="<%= Width::CONTAINER %>">
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Make Offer</th>

        </tr>
      </thead>
     <tbody class="song-table">
      <% @songs.each do |song| %>
      <tr>
        <td>
            <%= render partial: "shared/song_dropdown", locals: {song: song} %>
        </td>
        <td><%=song.song_title %></td>
        <td>
          <%= form_tag offers_path, method: :post, remote: true, :class => "form-inline", :id => "song_#{song.id}" do %>
              <%= label_tag(:share, "%") %>
             <%= text_field_tag :share,"", class: "input input-style" %>
              <%= label_tag(:amount, "$") %>
             <%= text_field_tag :amount,"", class: "input input-style" %>
             <%= hidden_field_tag "song_id", song.id %>
             <%= submit_tag "Submit", name: nil, class: "btn btn-transparent" %>   
          <% end %> 
        </td>
      </tr>
      <% end %>
     </tbody>
   </table>

</div>
