<div class="row">
<div class="col-md-offset-1 col-md-10">
<div id="homepage-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homepage-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#homepage-carousel" data-slide-to="1"></li>
    <li data-target="#homepage-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
      <!-- <div class="item active">
      <img src="<%= asset_path("transparent.png") %>" alt="Letter">
      <div class="carousel-caption"> 
        <h2>Letter from the founder</h2>
        <h5 id="carousel-letter">
     Hello. My name is Shenil, and I am the founder of Alphabeats. We aim to help uncover talented artists living amongst us and help them become popular. In our case, we focus on musicians. <b>We will do this by allowing fans to invest in unsigned musicians' songs.</b><br/><br/>
        </b><a href="<%= letter_path %>"><em>Click here to read more</em></a>
        </h5>
      </div>
    </div> -->

    <div class="item active">
      <img src="<%= asset_path("transparent.png") %>" alt="Independent artists">
      <div class="carousel-caption">
           <h2>Irish Advantage!</h2>
		    <h4>If you/ your band live in Ireland, get in touch with s@alphabeatsmusic.com to claim your first year of FREE subscription.</h4>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path("transparent.png") %>" alt="Fans">
      <div class="carousel-caption">
        <h2>Berklee College of Music</h2>
	    <h4>Contact our A&amp;R Executive, Alka, on a@alphabeatsmusic.com to learn about joining us with the latest offers.</h4>
      </div>
    </div>
    <div class="item">
      <img src="<%= asset_path("transparent.png") %>" alt="Fans">
      <div class="carousel-caption">
        <h2>Coming Soon...</h2>
      <h4>You will be able to Invest in Music!</h4>
      </div>
    </div>


  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div> <!-- end of row -->

<!-- <div id="updates-path">
  <a href="<%= updates_path %>">
  <div class="signup-updates">
    <span id="updates">Sign up for updates</span>
  </div>
  </a>
</div> -->
<div class="row">
  <a href="<%= updates_path %>">
  <div class="signup-updates">
<button class="btn btn-lg btn-transparent">
  <span id="updates">Sign up for updates</span>
</button>
</div>
</a>
</div>