<div class="<%= Width::CONTAINER %>">
<div class="row">
  <div class="col-md-6">
    <h2 class="center-text" >My Open Bids</h2>
  
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Bid Status</th>
          <th>Bid Share</th>
          <th>Bid amount</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
     <tbody class="song-table">
      <% @bids.each do |bid| %>
      <tr>
        <td>
            <%= render partial: "shared/song_dropdown", locals: {song: bid.song} %>
        </td>
        <td><%=bid.song.song_title %></td>
        <td><%= bid.get_bid_status %></td>
        <td><%= bid.share %></td>
        <td><%= bid.amount %></td>
        <td>Edit</td>
        <td>Destroy</td>
      </tr>
      <% end %>
     </tbody>
   </table>
  </div>
  <div class="col-md-6">
    <h2 class="center-text" >My Open Offers</h2>
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Offer Status</th>
          <th>Offer Share</th>
          <th>Offer amount</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
     <tbody class="song-table">
      <% @offer_songs.each do |song| %>
      <tr>
        <td>
            <%= render partial: "shared/song_dropdown", locals: {song: song} %>
        </td>
        <td><%=song.song_title %></td>
      </tr>
      <% end %>
     </tbody>
   </table>
  
  </div>
</div>
</div>
