<div class="<%= Width::CONTAINER %>">
<div class="row">
  <div class="col-md-6">
    <h2 class="center-text" >My Open Bids</h2>
  
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Bid Status</th>
          <th>Bid Share</th>
          <th>Bid amount</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
     <tbody class="song-table">
      <% @bids.each do |bid| %>
        <tr id="bid_<%= bid.id %>">
        <td>
            <%= render partial: "shared/song_dropdown", locals: {song: bid.song} %>
        </td>
        <td><%=bid.song.song_title %></td>
        <td><%= bid.get_bid_status %></td>
        <td><%= bid.share %></td>
        <td><%= bid.amount %></td>
        <td>Edit</td>
        <td><%= link_to "Destroy", bid_path(bid), method: :delete, remote: :true %></td>
      </tr>
      <% end %>
     </tbody>
   </table>
  </div>
  <div class="col-md-6">
    <h2 class="center-text" >My Open Offers</h2>
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Offer Status</th>
          <th>Offer Share</th>
          <th>Offer amount</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
     <tbody class="song-table">
      <% @offers.each do |offer| %>
      <tr id="offer_<%= offer.id %>">
        <td>
            <%= render partial: "shared/song_dropdown", locals: {song: offer.song} %>
        </td>
        <td><%= offer.song.song_title %></td>
        <td><%= offer.get_offer_status %></td>
        <td><%= offer.share %></td>
        <td><%= offer.amount %></td>
        <td>Edit</td>
        <td><%= link_to "Destroy", offer_path(offer), method: :delete, remote: :true %></td>
      </tr>
      <% end %>
     </tbody>
   </table>
  
  </div>
</div>
</div>
