<%= render "songs/secondheader" %>
<%= render "total_show" %>

<br/>
 <%=link_to "Add Shazam", order_path(current_order), data: { params: { order: {  shazam: true} }.to_param }, :method => 'PATCH', remote: true%>
<br/>
 <%=link_to "Add Youtube", order_path(current_order), data: { params: { order: {  youtube: true} }.to_param }, :method => 'PATCH', remote: true%>
<br/>
 <%=link_to "Add Store maximizer", order_path(current_order), data: { params: { order: {  store_maximizer: true} }.to_param }, :method => 'PATCH', remote: true%>
<br/>
<br/>
<br/>
<br/>




 <%= link_to "Make Payment", transaction_logs_path(), data: { params: { transaction_logs: {  amount: @total} }.to_param }, :method => 'POST', remote: true %>
<div class="row">

  <div class="col-sm-4">
    <a href="<%= %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Add Shazam </span>
        </button>
      </div>
    </a>
  </div>

  <div class="col-sm-4">
    <a href="<%= %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Add Youtube</span>
        </button>
      </div>
    </a>
  </div>

  <div class="col-sm-4">
    <a href="<%= %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Add Store Maximizer</span>
        </button>
      </div>
    </a>
  </div>
  
</div>
