<%= render "songs/secondheader" %>
<div class="row">
<div class=" col-sm-offset-1 col-sm-10">
  <h2 class="center-text">Payment Page</h2> <br>
  <div class="col-md-3 extra-features">
    <a href="<%= subscription_path(current_subscription) %>", data-remote="true" data-params="subscription%5Bshazam%5D=true" data-method="PATCH" rel="nofollow">
    <div class="signup-updates">
      <button class="btn btn-lg solid-button">
        <span id="updates">Add Shazam & iPhone Siri</span>
      </button>
    </div> 
  </a>
  <%=link_to "Track: $0.99 per year", subscription_path(current_subscription), data: { params: { subscription: {  shazam: true} }.to_param }, :method => 'PATCH', remote: true%> <br><br>
  <br><p class="feature-description">Make it easy for people to identify this single if they hear it playing on radio/tv, in stores, restaurants, parties, etc.</p>
  <br/>
  </div> 
  <div class="col-md-5 extra-features">
    <div class="row"></div>
    <a href="<%= subscription_path(current_subscription) %>", data-remote="true" data-params="subscription%5Byoutube%5D=true" data-method="PATCH" rel="nofollow">
    <div class="signup-updates">
      <button class="btn btn-lg solid-button">
        <span id="updates">Add Youtube Money</span>
      </button>
    </div>
  </a> 
   <%=link_to "Track: $4.95/year + 20% of YouTube ad revenue", subscription_path(current_subscription), data: { params: { subscription: {  youtube: true} }.to_param }, :method => 'PATCH', remote: true%> <br>
   <%=link_to "Album: $14.95/year + 20% of YouTube ad revenue", subscription_path(current_subscription), data: { params: { subscription: {  youtube: true} }.to_param }, :method => 'PATCH', remote: true%><br><br>
   <p class="feature-description">Get notified & paid if your music is ever used in any YouTube videos. We'll add this single/ album to YouTube's Content ID database, and continually scan for matches. When your music is detected in any YouTube video, you'll be notified—and ad revenue will automatically go to you.</p>
<br/>
  </div>
  <div class="col-md-3 extra-features">
    <a href="<%=subscription_path(current_subscription) %>", data-remote="true" data-params="subscription%5Bstore_maximizer%5D=true" data-method="PATCH" rel="nofollow">
      <div class="signup-updates">
        <button class="btn btn-lg solid-button">
          <span id="updates">Add Store Maximizer</span>
        </button>
      </div>
    </a>

 <%=link_to "FREE", subscription_path(current_subscription), data: { params: { subscription: {  store_maximizer: true} }.to_param }, :method => 'PATCH', remote: true%> <br><br>
 <br><p class="feature-description">Alphabeats will automatically deliver this album to new stores and streaming services as we add them. Which is often. We'll give you notice before adding.</p>

</div>

  </div>
</div>
<br>
    
<div class="row">
<%= render "total_show" %>
</div>

