<%= render "songs/secondheader" %>
<%= render "total_show" %>


<div class="row">

  <div class="col-sm-4">
    <a href="<%= %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Add Shazam </span>
        </button>
      </div>
    </a>
  </div>

  <div class="col-sm-4">
    <a href="<%= %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Add Youtube</span>
        </button>
      </div>
    </a>
  </div>

  <div class="col-sm-4">
    <a href="<%= %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Add Store Maximizer</span>
        </button>
      </div>
    </a>
  </div>
  
</div>
