<div class="<%= Width::CONTAINER %>">
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Make Bid</th>
        </tr>
      </thead>
     <tbody class="song-table">
      <% @songs.each do |song| %>
      <tr>
        <td>
            <%= render partial: "shared/song_dropdown", locals: {song: song} %>
        </td>
        <td><%=song.song_title %></td>
        <td>
          <%= form_tag bids_path, method: :post, remote: true, :class => "form-inline", :id => "song_#{song.id}" do %>
              <%= label_tag(:share, "%") %>
             <%= text_field_tag :share,"", class: "input input-style" %>
              <%= label_tag(:amount, "$") %>
             <%= text_field_tag :amount,"", class: "input input-style" %>
             <%= hidden_field_tag "song_id", song.id %>
             <%= submit_tag "Submit", name: nil, class: "btn btn-transparent" %>   
          <% end %> 
        </td>
      </tr>
      <% end %>
     </tbody>
   </table>
</div>
