<%# <% @bids.each do |bid| %>
  <tr id="bid_<%= bid.id %>">
  <td>
      <%= render partial: "shared/song_dropdown", locals: {song: bid.song} %>
  </td>
  <td><%=bid.song.song_title %></td>
  <td><%= bid.get_bid_status %></td>
  <td><%= bid.share %></td>
  <td><%= bid.amount %></td>
  <td> <a href="#myupdatebid_<%= bid.id %>" data-toggle="modal" data-target="#myupdatebid_<%= bid.id %>">Edit</a>
                <!-- Modal - update bids -->
    <%= form_for(bid, :method => :put, remote: true) do |f| %>
    <div class="modal fade" id="myupdatebid_<%= bid.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit</h4>
        </div>
        <div class="modal-body">

        <div class="field">
          <%= f.label :share %><br>
          <%= f.text_area :share, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :amount %><br>
          <%= f.text_area :amount, class: "form-control" %>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" id="myupdatebutton_<%= bid.id %>" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= submit_tag "Update", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    </div>
    <% end %>
      <!-- Modal -->
  
  
  </td>
  <td><%= link_to "Destroy", bid_path(bid), method: :delete, remote: :true %></td>
</tr>
<%# <% end %>
