<%= render "songs/secondheader" %>
<div class='row'><div class='col-sm-offset-1 col-sm-10'>
<h1>Hello <%= @user.first_name %></h1>
<h4>Welcome to your profile page</h4>

<p>
The following are your details: <br/><br/>

First Name: <%= @user.first_name %> <br/>
Last Name: <%= @user.last_name %> <br/>
<%= raw("Username: #{@user.username}<br/>") if !current_user.username.nil? %>
<div class="row">
  <div class="col-md-4">
    <% if current_user.songs.count > 0 && current_user.username.nil? %>
    <%= simple_form_for(@user) do |f| %>
      <%= f.input :username, label: 'Create username', input_html: {class: 'input input-style form-control'} %> <br><br>
      <%= f.button :submit, class: 'btn btn-transparent btn-lg' %>
    <% end %>
    <% elsif current_user.songs.count > 0 %>
    <%= simple_form_for(@user) do |f| %>
      <%= f.input :username, label: 'Update username', input_html: {class: 'input input-style form-control'} %> <br><br>
      <%= f.button :submit, class: 'btn btn-transparent btn-lg' %>
    <% end %>
  <% end %>
  </div>
</div>

</p>

<% if current_user.albums.count>0 %>
  <%= raw("<h2> List of Albums </h2>") %>
<div class="row list-albums">
  <div class="col-md-3">
    <ul class="nav nav-tabs nav-stacked"><!-- 'tabs-right' for right tabs -->
      <% current_user.albums.each do |album| %>
        <%= raw("<li><a href=\"##{album.id}\" data-toggle=\"tab\">#{album.album_name}</a></li>") %>
      <% end %>
    </ul>
  
  </div>
  <div class="col-md-9">
     <div class="tab-content">
          <% current_user.albums.each do |album| %>
            <%= raw("<div class=\"tab-pane\" id=\"#{album.id}\"><br/>") %>
              <% album.songs.each do |song| %>
                <%=song.song_title %>
                <%= raw("<br/>") %>
              <% end %>
            <%= raw("</div>") %>
          <% end %>
    </div> 
  </div>
</div>
<% end %>


  </div>
</div>
