<%= render "songs/secondheader" %>
<div class='row'><div class='col-sm-offset-1 col-sm-10'>
<h1>Hello <%= @user.first_name %></h1>
<h4>Welcome to your profile page</h4>

<p>
The following are your details: <br/><br/>

<% if @user.profile_photo.nil? %>
  <%= raw("<img src=\"#{@user.profile_photo}\" width=\"300px\"><br/>") %>
<% end %>

First Name: <%= @user.first_name %> <br/>
Last Name: <%= @user.last_name %> <br/>

<%= raw("Username: #{@user.username}<br/>") if !@user.username.nil? %>
<%# <%= raw("Profile Photo: #{@user.profile_photo}<br/>") if !@user.profile_photo.nil? %>
<%= raw("Stage name: #{@user.stage_name}<br/>") if !@user.stage_name.nil? %>
<%= raw("Hometown: #{@user.hometown}<br/>") if !@user.hometown.nil? %>
<%= raw("Country: #{@user.country}<br/>") if !@user.country.nil? %>
<%= raw("Facebook Page: #{@user.facebook}<br/>") if !@user.facebook.nil? %>
<%= raw("Soundcloud Url: #{@user.soundcloud}<br/>") if !@user.soundcloud.nil? %>
<%= raw("Youtube channel: #{@user.youtube}<br/>") if !@user.youtube.nil? %>

<br/><br/><br/>
<% if can? :update, @user %>
  <%= link_to "Edit Profile", edit_user_path(@user), class:"btn btn-md btn-transparent" %>
<% end %>
</p>

<% if @albums.count>0 %>
  <%= raw("<h2> List of Albums </h2>") %>
<div class="row list-albums">
  <div class="col-md-2">
    <ul class="nav nav-tabs nav-stacked"><!-- 'tabs-right' for right tabs -->
      <% @albums.each do |album| %>
          <%= raw("<li><a href=\"##{album.id}\" data-toggle=\"tab\">#{album.album_name}</a></li>") %>
      <% end %>
    </ul>
  
  </div>
  <div class="col-md-10">
     <div class="tab-content">
          <% @albums.each do |album| %>
            <%= raw("<div class=\"tab-pane\" id=\"#{album.id}\"><br/>") %>
            <table class="table">
              <thead>
                <tr>
                  <th>Song</th>
                  <th>Duration</th>
                  <th>Publish Date</th>
                </tr>
              </thead>
             <tbody>
              <% album.songs.each do |song| %>
              <tr>
                <td><%=song.song_title %></td>
                <td><%= song.duration.strftime("%H:%M") if !song.duration.nil?%></td>
                <td><%=song.created_at.strftime("%B %d %Y")%></td>
              </tr>
                <%# <%= raw("<br/>") %>
              <% end %>
             </tbody>
           </table>
            <%= render partial: "albums/album_show", locals: {album: album}  %>
            <%= raw("</div>") %>
          <% end %>
    </div> 
  </div>
</div>
<% end %>


  </div>
</div>

<script>
$(document).ready(function() {
    $('.nav-stacked a:first').tab('show');
  });
</script>
