<%= render "songs/secondheader" %>
<div class='row'><div class='col-sm-offset-1 col-sm-10 tab-content'>
    <br/><br/>
 <div class="profile-box tab-pane" id="profile-box" >
  <div class="row">
    <div class="col-md-4 vertical-line">
    <%= @user.profile_photo.present? ? raw("<img src=\"#{@user.profile_photo}\" width=\"300px\"><br/>") : raw("<img src=\"http://s3-us-west-2.amazonaws.com/splitshire/Photo/SplitShire-3060109.jpg\" style=\"max-width:100%; max-height:100%;\" ><br/>") %>
    </div>
    <div class="col-md-8">
      <br/>
    <%= @user.stage_name.present? ? raw("#{@user.stage_name}<br/>") : raw("#{@user.first_name} #{@user.last_name}<br/>") %>
    <%= raw("#{@user.username}") if @user.username.present? %> 
    <span style="float:right">
      <a href="<%= @user.soundcloud %>"><i class="fa fa-soundcloud circle-icon" aria-hidden="true"></i></a>&nbsp;
      <a href="<%= @user.facebook %>"><i class="fa fa-youtube circle-icon" aria-hidden="true"></i></a>&nbsp;
      <a href="<%= @user.youtube %>"><i class="fa fa-facebook circle-icon" aria-hidden="true"></i></a>
    </span>

    <hr style="border-top: 1px solid #746eaa;"/>

    <div class="row">
      <div class="col-xs-6">
        HomeTown<br/>
        <%= raw("#{@user.hometown} #{@user.country}") %><br/>
      </div>
      <div class="col-xs-6">
        Email<br/>
        <%= raw("#{@user.email}") %><br/>
      </div>
    </div>
    </div>
  </div>
</div><!-- end of profile-box -->

<% @albums.each do |album| %>
    <%= raw("<div id=\"#{album.id}-top\" class=\"tab-pane\">") %>
      <%= render partial: "albums/album_show", locals: {album: album}  %>
    <%= raw("</div>") %>
<% end %>
<p>
<br/><br/><br/>
<% if can? :update, @user %>
  <%= link_to "Edit Profile", edit_user_path(@user), class:"btn btn-md btn-transparent" %>
<% end %>
</p>

<% if @albums.count>0 %>
  <%# <%= raw("<h2> Albums </h2><br/>") %>
<div class="row list-albums">
  <div class="col-md-2">
    <ul class="nav nav-tabs nav-stacked"><!-- 'tabs-right' for right tabs -->
        <li><a href="#profile-box" data-target="#profile-box-empty, #profile-box" data-toggle="tab">Profile Details</a></li>
        <li><h2>Albums</h2></li>
        <!-- <br/><br/> -->
      <% @albums.each do |album| %>
          <%= raw("<li><a href=\"##{album.id}\" data-target=\"##{album.id}-top, ##{album.id}\" data-toggle=\"tab\">#{album.album_name}</a></li>") %>
      <% end %>
    </ul>
  
  </div>
  <div class="col-md-10">
     <div class="tab-content">
        <br/><br/><br/><br/>
       <div id="profile-box-empty" class="tab-pane">
         <p></p>
       </div>
          <% @albums.each do |album| %>
            <%= raw("<div class=\"tab-pane\" id=\"#{album.id}\"><br/>") %>
            <table class="table ">
              <thead>
                <tr>
                  <th></th>
                  <th>Song</th>
                  <th>Duration</th>
                  <th>Publish Date</th>
                  <th>View Count</th>
                  <th>Download Count</th>
                  <th>Income till date</th>
                  <th>Last updated</th>
                </tr>
              </thead>
             <tbody class="song-table">
              <% album.songs.each do |song| %>
              <tr>
                <td><div class="dropdown">
                  <i class="fa fa-play-circle dropdown-toggle"  data-toggle="dropdown"></i>
                  <ul class="dropdown-menu">
                      <%= raw("<li><a href=\"#{song.spotify}\">Spotify link</a></li>") if song.spotify.present? %>
                      <%= raw("<li><a href=\"#{song.itunes}\">itunes link</a></li>") if song.itunes.present? %>
                      <%= raw("<li><a href=\"#{song.apple_music}\">apple_music link</a></li>") if song.apple_music.present? %>
                      <%= raw("<li><a href=\"#{song.google_play}\">google_play link</a></li>") if song.google_play.present? %>
                      <%= raw("<li><a href=\"#{song.amazon}\">amazon link</a></li>") if song.amazon.present? %>
                      <%= raw("<li><a href=\"#{song.r_dio}\">r_dio link</a></li>") if song.r_dio.present? %>
                      <%= raw("<li><a href=\"#{song.deezer}\">deezer link</a></li>") if song.deezer.present? %>
                      <%= raw("<li><a href=\"#{song.tidal}\">tidal link</a></li>") if song.tidal.present? %>
                      <%= raw("<li><a href=\"#{song.youtube}\">youtube link</a></li>") if song.youtube.present? %>
                      <%= raw("<li><a href=\"#{song.microsoft_groove}\">microsoft_groove link</a></li>") if song.microsoft_groove.present? %>
                      <%= raw("<li><a href=\"#{song.media_net}\">media_net link</a></li>") if song.media_net.present? %>
                  </ul>
                </div></td>
                <td><%=song.song_title %></td>
                <td><%= song.duration.strftime("%H:%M") if !song.duration.nil?%></td>
                <td><%=song.created_at.strftime("%B %d %Y")%></td>
                <td><%=song.view_count.present? ? song.view_count : raw("-")  %></td>
                <td><%=song.download_count.present? ? song.download_count : raw("-")  %></td>
                <td><%=song.income_till_date.present? ? song.income_till_date : raw("-")  %></td>
                <td><%=song.updated_at.strftime("%B %d %Y")%></td>
              </tr>
              <% end %>
             </tbody>
           </table>
            <%= raw("</div>") %>
          <% end %>
    </div> 
  </div><!-- col-md-10 of tab-content -->
</div><!-- row list-albums -->
<% end %>


  </div><!-- end col-sm-offset-1 col-sm-10 -->
</div><!-- end row -->

<script>
$(document).ready(function() {
    $('.nav-stacked a:first').tab('show');
  });
</script>
