<%= render "songs/secondheader" %>
<div class='row'><div class='col-sm-offset-1 col-sm-10'>
<h1>Hello <%= @user.first_name %></h1>
<h4>Welcome to your profile page</h4>

<p>
The following are your details: <br/><br/>

First Name: <%= @user.first_name %> <br/>
Last Name: <%= @user.last_name %> <br/>
<%= raw("Username: #{@user.username}<br/>") if !current_user.username.nil? %>
<div class="row">
  <div class="col-md-4">
    <% if current_user.transaction_logs.count > 0 && current_user.username.nil? %>
    <%= simple_form_for(@user) do |f| %>
      <%= f.input :username, label: 'Create username', input_html: {class: 'input input-style form-control'} %> <br><br>
      <%= f.button :submit, class: 'btn btn-transparent btn-lg' %>
    <% end %>
    <% elsif current_user.transaction_logs.count > 0 %>
    <%= simple_form_for(@user) do |f| %>
      <%= f.input :username, label: 'Update username', input_html: {class: 'input input-style form-control'} %> <br><br>
      <%= f.button :submit, class: 'btn btn-transparent btn-lg' %>
    <% end %>
  <% end %>
  </div>
</div>

</p>

  </div>
</div>
