<%= render "songs/secondheader" %>
<div class='row'><div class='col-sm-offset-1 col-sm-10 tab-content'>
    <br/><br/>
 <div class="profile-box tab-pane" id="profile-box" >
  <div class="row">
    <div class="col-md-4 vertical-line">
    <%= @user.profile_photo.present? ? raw("<img src=\"#{@user.profile_photo}\" width=\"300\" height=\"300\"><br/>") : raw("<img src=\"http://i.imgur.com/Zpu1n4f.jpg\"  width=\"300\" height=\"300\" ><br/>") %>
    </div>
    <div class="col-md-8">
      <br/>
   <% if @albums.count>0 %> 
      <div class="icon-list">   
          <span style="float:right">
            <a href="<%= @user.soundcloud %>" target="_blank"><i class="fa fa-soundcloud circle-icon" aria-hidden="true"></i></a>&nbsp;
            <a href="<%= @user.facebook %>" target="_blank"><i class="fa fa-youtube circle-icon" aria-hidden="true"></i></a>&nbsp;
            <a href="<%= @user.youtube %>" target="_blank"><i class="fa fa-facebook circle-icon" aria-hidden="true"></i></a>
          </span>
      </div>
      <div class="box-title vertical-line name-display">
        <%= @user.stage_name.present? ? raw("#{@user.stage_name}<br/>") : raw("#{@user.first_name} #{@user.last_name}<br/>") %>
      </div>
      <span style="float:right">
        <% if can? :update, @user %>
          <a href="<%= edit_user_path(@user) %>">Edit Profile</a>
        <% end %>
      </span>
      <%= raw("Username: #{@user.username}") if @user.username.present? %> 
    <% else %>
      <span style="float:right">
        <% if can? :update, @user %>
          <a href="<%= edit_user_path(@user) %>">Edit Profile</a>
        <% end %>
      </span>
      <div class="box-title vertical-line name-display">
        <%= @user.stage_name.present? ? raw("#{@user.stage_name}<br/>") : raw("#{@user.first_name} #{@user.last_name}<br/>") %>
      </div>
      
    <% end %>
    
    <hr style="border-top: 1px solid #746eaa;"/>

    <div class="row">
      <div class="col-xs-6">
        <h5 class='low-opacity-font' >Hometown</h5>
        <% if @user.hometown? %>
        <%= raw("#{@user.hometown}, #{@user.country}") %><br/>
        <% else %>
        <%= raw("New York, USA") %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <h5 class='low-opacity-font' >Email</h5>
        <%= raw("#{@user.email}") %><br/>
      </div>
    </div>
    </div>
  </div>
</div><!-- end of profile-box -->

<% @albums.each do |album| %>
    <%= raw("<div id=\"#{album.id}-top\" class=\"tab-pane\">") %>
      <%= render partial: "albums/album_show", locals: {album: album}  %>
    <%= raw("</div>") %>
<% end %>

<% if @albums.count>=0 %>
  <%# <%= raw("<h2> Albums </h2><br/>") %>
<div class="row list-albums">
  <div class="col-md-2">
    <ul class="nav nav-tabs nav-stacked"><!-- 'tabs-right' for right tabs -->
      <br style="line-height:0.5em;"/>
        <li><a href="#profile-box" data-target="#profile-box-empty, #profile-box" data-toggle="tab">
          <%= @user.stage_name.present? ? raw("#{@user.stage_name}'s Profile") : raw("#{@user.first_name}'s Profile") %>
        </a></li>
        <% if @albums.count>0 %>
          <br style="line-height:1.5em;"/>
          <li><h2>Albums</h2></li> 
          <!-- <br/><br/> -->
  <!-- <br style="line&#45;height:0.01em;"/><br style="line&#45;height:0.1em;"/> -->
          <% @albums.each do |album| %>
            <%= raw("<li><a href=\"##{album.id}\" data-target=\"##{album.id}-top, ##{album.id}\" data-toggle=\"tab\">#{album.album_name}</a></li>") %>
          <% end %>
        <% end %>
    </ul>
  
  </div>
  <div class="col-md-10">
     <div class="tab-content">
        <br/><br/><br/><br/>
       <div id="profile-box-empty" class="tab-pane">
         <p></p>
       </div>
          <% @albums.each do |album| %>
            <%= raw("<div class=\"tab-pane\" id=\"#{album.id}\"><br/>") %>
            <table class="table ">
              <thead>
                <tr>
                  <th></th>
                  <th>Song</th>
                  <th>Duration</th>
                  <th>Publish Date</th>
                  <th>View Count</th>
                  <th>Download Count</th>
                  <th>Income till date</th>
                  <th>Last updated</th>
                </tr>
              </thead>
             <tbody class="song-table">
              <% album.songs.each do |song| %>
              <tr>
                <td>
                  <%= render partial: "shared/song_dropdown", locals: {song: song} %>
                </td>
                <td><%=song.song_title %></td>
                <td><%= song.duration.strftime("%H:%M") if !song.duration.nil?%></td>
                <td><%=song.created_at.strftime("%B %d %Y")%></td>
                <td><%=song.view_count.present? ? song.view_count : raw("-")  %></td>
                <td><%=song.download_count.present? ? song.download_count : raw("-")  %></td>
                <td><%=song.income_till_date.present? ? song.income_till_date : raw("-")  %></td>
                <td><%=song.updated_at.strftime("%B %d %Y")%></td>
              </tr>
              <% end %>
             </tbody>
           </table>
            <%= raw("</div>") %>
          <% end %>
    </div> 
  </div><!-- col-md-10 of tab-content -->
</div><!-- row list-albums -->
<% end %>


  </div><!-- end col-sm-offset-1 col-sm-10 -->
</div><!-- end row -->

<script>
$(document).ready(function() {
    $('.nav-stacked a:first').tab('show');
  });
</script>
