    <div class="modal fade" id="low_balance_bid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <br/>
        </div>
        <div class="modal-body">

        <div class="field">
          <p style="color:red;" >You do not have sufficient balance in your wallet to make the bid</p>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" id="low_balance_bid" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= link_to "Add money", wallet_path,  class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    </div>

<div class="<%= Width::CONTAINER %>">
  <h2>Shortlisted songs</h2>
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Artist</th>
          <th>Release Date</th>
          <th>Income till Date</th>
          <th>Last trade price(per %)</th>
          <th>Make Bid</th>
          <th></th>
        </tr>
      </thead>
     <tbody class="song-table">
      <% @songs.each do |song| %>
      <tr id="shortlist_song_<%= song.id %>">
        <td>
            <%= render partial: "shared/song_dropdown", locals: {song: song} %>
        </td>
        <td><%=song.song_title %></td>
        <td><%=song.musician.name %></td>
        <td><%=song.album.get_release_date %></td>
        <td><%=song.income_till_date %></td>
        <td><%=song.last_trade_price %></td>
        <td>
          <%= form_tag bids_path, method: :post, remote: true, :class => "form-inline input-mini", :id => "song_#{song.id}" do %>
              <%= label_tag(:share, "%") %>
             <%= text_field_tag :share,"", class: "input input-style input-5em-width" %>
              <%= label_tag(:amount, "$") %>
             <%= text_field_tag :amount,"", class: "input input-style input-5em-width" %>
             <%= hidden_field_tag "song_id", song.id %>
             <%= submit_tag "Submit", name: nil, class: "btn btn-sm btn-transparent" %>   
          <% end %> 
        </td>
        <td><%= link_to "x", shortlist_path(song.id), method: :delete, remote: :true, :data => {:confirm => 'Are you sure you want to remove this song from shortlist?'} %><td/>
      </tr>
      <% end %>
     </tbody>
   </table>

   <br/><br/>

  <h2>My Open Bids</h2>
    <table class="table ">
      <thead>
        <tr>
          <th></th>
          <th>Song</th>
          <th>Artist</th>
          <th>Release Date</th>
          <th>Income till Date</th>
          <th>Last trade price(per %)</th>
          <th>Bid Share</th>
          <th>Bid amount</th>
          <th>Bid price(per %)</th>
          <th></th>
        </tr>
      </thead>
     <tbody class="song-table" id="open-bid-table">
      <%= render @bids  %>
     </tbody>
   </table>
</div>

