<div class="form-bg">
<%= simple_form_for(song) do |f| %>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <%= f.input :album, label: 'Album', input_html: {class: 'input input-style form-control'}, collection: @song_album_list, label_method: :text, value_method: :code, include_blank: "Choose an option first" %>
    <%= f.input :song_title, label: 'Write your song title', input_html: {class: 'input input-style form-control'} %>
    <%= f.input :song_writer, label: 'Song writer', input_html: {class: 'input input-style form-control'} %>
    <%= f.input :duration, label: 'Song Duration', input_html: {class: 'input input-style form-control', autocomplete:'off'}, :default=> Time.parse("3:46") %>
      
    <%= f.input :audio_file, label: 'Upload Audio file', input_html: {class: 'input input-style form-control'} %>

    <%= f.input :lyrics, label: 'Lyrics', input_html: {class: 'input input-style form-control'} %>
    <%= f.input :note_to_admin, label: 'Note to admin', input_html: {class: 'input input-style form-control'} %>
</div>


<div class="row">
  <div class="col-sm-offset-1 col-sm-6">
    <div class="row">
      <div class="col-sm-6">
        <br/>
        <%= f.input :terms, label: 'Terms and Conditions', input_html: {class: 'input input-style form-control'} %>
        <br/>
        <%= f.button :submit, class: 'btn btn-transparent btn-lg' %>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
<br/>
<br/>
<script>
$("#song_album").on('change', function(e) {
        var valueSelected = this.value;
                  if (valueSelected == -1) {
                                         window.location.href=("//localhost:3000/albums/new")
                                                     }; 
})
</script>
