<div class="row">
  <%= simple_form_for(song) do |f| %>
    <div class="col-sm-8">
      <%= f.input :song_title, label: 'Write your song title', input_html: {class: 'input input-style form-control'} %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :song_writer, label: 'Song writer', input_html: {class: 'input input-style form-control'} %>
          <%= f.input :stage_band_name, label: 'Write your stage name or band name', input_html: {class: 'input input-style form-control'} %>
          <%= f.input :language, label: 'Language', input_html: {class: 'input input-style form-control'}, collection: Song::Language.language_list, label_method: :text, value_method: :code, include_blank: false %>
          <%= f.input :release_date, label: 'Release date', input_html: {class: 'input input-style form-control'} %>
          <%= f.input :audio_file, label: 'Upload Audio file', input_html: {class: 'input input-style form-control'} %>
          <%= f.input :duration, label: 'Song Duration', input_html: {class: 'input input-style form-control'} %>
          <%= f.input :terms, label: 'Terms and Conditions', input_html: {class: 'input input-style form-control'} %>
          <%= f.button :submit, input_html: {class: 'btn btn-transparent btn-lg'}%>
        </div>
        <div class="col-sm-6">
          <%= f.input :album, label: 'Write your album name', input_html: {class: 'input input-style form-control'} %>
          <%= f.input :record_label, label: 'Write your label name if you have any', input_html: {class: 'input input-style form-control'} %>
          <%= f.input :primary_genre, label: 'Primary Genre', input_html: {class: 'input input-style form-control'}, collection: Song::Genre.genre_list, label_method: :text, value_method: :code, include_blank: false %>
          <%= f.input :secondary_genre, label: 'Secondary Genre', input_html: {class: 'input input-style form-control'}, collection: Song::Genre.genre_list, label_method: :text, value_method: :code, include_blank: false %>
          <%= f.input :album_cover, label: 'Album Cover', input_html: {class: 'input input-style form-control'} %>
        </div>
      </div> <!-- end of inner row -->
    </div>
    <div class="col-sm-4">
      <%= f.input :lyrics, label: 'Lyrics', input_html: {class: 'input input-style form-control'} %>
    </div>
  <% end %>
</div> <!-- end of outer row -->
