<div class="row">
  
  <div class="col-sm-offset-1 col-sm-10 album-show">
    <% if can? :create, Song %>
        <% if !paid_album?(song.album) %>
          <a data-method="delete" data-confirm="Are you sure that you want to delete this song?" href="<%= song_path(song) %>">
            <span id="updates" class="delete-item">x</span>
          </a>    
        <% end %>
      <% end %>
    <br style="line-height:1em;">
    <div class="album-show-edit">
      <% if !paid_album?(song.album) %>
        <% if can? :create, Song %>
          <%= link_to "Edit Song", edit_song_path(song) %> 
        <% end %>
      <% end %>
    </div>
   <br style="line-height:2em;">
    <div class="col-sm-5">
      <h5 class='low-opacity-font' >Song Title</h5>
      <%= song.song_title %> <br/>

      <h5 class='low-opacity-font' >Song Writer</h5>
      <% if song.self_written %>
        <%= raw("Self Written") %>
      <% else %>
        <%= raw("Original artist:") %>
        <%= song.original_artist %>
        <br/>
        <%= raw("Original song title:") %>
        <%= song.original_song_title %>
      <% end %>

       
        <br/>

      <h5 class='low-opacity-font' >Album Name</h5>
      <%= song.album.album_name %> <br/>

      <% if !song.duration.nil? && !song.duration==Time.utc(2000,01,01,00,00,00) %>
        <%= raw("<h5 class='low-opacity-font' >Song Duration</h5>") %>
        <%= song.duration.strftime("%H:%M") if !song.duration.nil? && !song.duration==Time.utc(2000,01,01,00,00,00) %> <br/>
      <% end %>

      <% if can? :create, Song %>
        <%= raw("<h5 class='low-opacity-font' >Link to Song</h5>") %>
        <%= song.audio_file %> <br/>

        <%= raw("<h5 class='low-opacity-font' >Note to Admin</h5>") %>
        <%= song.note_to_admin %> <br/>

      <% end %>

      <h5 class='low-opacity-font' >Explicit Lyrics</h5>
      <% if song.explicit_lyrics %>
        <%= raw("Yes") %>
      <% else %>
        <%= raw("No") %>
      <% end %>
      
      <% if song.producer.present? %>
        <%= raw("<h5 class='low-opacity-font' >Producer</h5>") %>
        <%= song.producer %>
      <% end %>

      <% if song.producer_email.present? %>
        <%= raw("<h5 class='low-opacity-font' >Producer Email</h5>") %>
        <%= song.producer_email %>
      <% end %>

        <br/>
        <br/>

    </div>
    <div class="col-sm-7 lyrics-show-overview">
      <h5 class='low-opacity-font' >Lyrics of the Song</h5>
      <div id="lyrics-show" class="lyrics-show">
      <%= song.lyrics %> <br/>
      </div>
    </div>
  </div><!-- end col-sm-offset-1 col-sm-10 album-show -->

      <br/><br/>

      <%= render partial: "shared/service_url_show", locals: {object: song} %>
  <div class="col-sm-offset-1 col-sm-10">
    <div class="col-sm-5">
        <% if song.view_count.present? %>
          <%= raw("<h5 class='low-opacity-font' >View Count: #{song.view_count}</h5>") %>
        <% end %>
        <% if song.download_count.present? %>
          <%= raw("<h5 class='low-opacity-font' >Download Count: #{song.download_count}</h5>") %>
        <% end %>
        <% if song.income_till_date.present? %>
          <%= raw("<h5 class='low-opacity-font' >Income till date: #{song.income_till_date}</h5>") %>
        <% end %>
    </div><!-- end col-sm-5 view count -->
  </div><!-- end col-sm-offset-1 col-sm-10 -->
</div> <!-- end row -->


