<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <h1>Details of song <%= song.song_title %> 
    
    <% if can? :create, Song %>
      <%= link_to "Edit", edit_song_path(song) %>
    <% end %>
    </h1>
    <div class="col-sm-5">
      <h5>Song Title</h5>
      <%= song.song_title %> <br/>

      <h5>Song Writer</h5>
      <% if song.self_written %>
        <%= raw("Self Written") %>
      <% else %>
        <%= raw("Original artist:") %>
        <%= song.original_artist %>
        <br/>
        <%= raw("Original song title:") %>
        <%= song.original_song_title %>
      <% end %>

       
        <br/>

      <h5>Album Name</h5>
      <%= song.album.album_name %> <br/>

      <h5>Song Duration</h5>
      <%= song.duration.strftime("%H:%M") if !song.duration.nil?%> <br/>

      <% if can? :create, Song %>
        <%= raw("<h5>Link to Song</h5>") %>
        <%= song.audio_file %> <br/>

        <%= raw("<h5>Note to Admin</h5>") %>
        <%= song.note_to_admin %> <br/>

      <% end %>

      <h5>Explicit Lyrics</h5>
      <% if song.explicit_lyrics %>
        <%= raw("Yes") %>
      <% else %>
        <%= raw("No") %>
      <% end %>
      
      <h5>Producer</h5>
      <% if song.producer %>
        <%= song.producer %>
      <% end %>

      <h5>Producer Email</h5>
      <% if song.producer_email %>
        <%= song.producer_email %>
      <% end %>

        <br/>

    </div>
    <div class="col-sm-7">
      <h5>Lyrics of the song</h5>
      <div id="lyrics-show">
      <%= song.lyrics %> <br/>
      </div>
    </div>
  </div>

      <br/><br/>
  <div class="col-sm-offset-1 col-sm-10">
      <h3>Links of the song to different services</h3> 
    <div class="col-sm-5">
      <% if !song.spotify.nil? && !song.spotify.empty? %>
        <%= raw("<a target='_blank' href='#{song.spotify}'><h5>Spotify</h5></a>") %>
      <% end %>
      <% if !song.itunes.nil? && !song.itunes.empty? %>
        <%= raw("<a target='_blank' href='#{song.itunes}'><h5>iTunes</h5></a>") %>
      <% end %>
      <% if !song.apple_music.nil? && !song.apple_music.empty? %>
        <%= raw("<a target='_blank' href='#{song.apple_music}'><h5>Apple Music</h5></a>") %>
      <% end %>
      <% if !song.google_play.nil? && !song.google_play.empty? %>
        <%= raw("<a target='_blank' href='#{song.google_play}'><h5>Google Play</h5></a>") %>
      <% end %>
      <% if !song.amazon.nil? && !song.amazon.empty? %>
        <%= raw("<a target='_blank' href='#{song.amazon}'><h5>Amazon</h5></a>") %>
      <% end %>
      <% if !song.r_dio.nil? && !song.r_dio.empty? %>
        <%= raw("<a target='_blank' href='#{song.r_dio}'><h5>Rdio</h5></a>") %>
      <% end %>
      <% if !song.deezer.nil? && !song.deezer.empty? %>
        <%= raw("<a target='_blank' href='#{song.deezer}'><h5>Deezer</h5></a>") %>
      <% end %>
      <% if !song.tidal.nil? && !song.tidal.empty? %>
        <%= raw("<a target='_blank' href='#{song.tidal}'><h5>Tidal</h5></a>") %>
      <% end %>
      <% if !song.youtube.nil? && !song.youtube.empty? %>
        <%= raw("<a target='_blank' href='#{song.youtube}'><h5>Youtube Music</h5></a>") %>
      <% end %>
      <br/><br/>
      <% if song.view_count.present? %>
        <%= raw("<h5>View Count: #{song.view_count}</h5>") %>
      <% end %>
      <% if song.download_count.present? %>
        <%= raw("<h5>Download Count: #{song.download_count}</h5>") %>
      <% end %>
      <% if song.income_till_date.present? %>
        <%= raw("<h5>Income till date: #{song.income_till_date}</h5>") %>
      <% end %>
    </div>
  </div>
</div>


