<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <h1>Details of song <%= song.song_title %> 
    
    <% if can? :create, Song %>
      <%= link_to "Edit", edit_song_path(song) %>
    <% end %>
    </h1>
    <div class="col-sm-5">
      <h5>Song Title</h5>
      <%= song.song_title %> <br/>

      <h5>Song Writer</h5>
      <% if song.self_written %>
        <%= raw("Self Written") %>
      <% else %>
        <%= raw("Original artist:") %>
        <%= song.original_artist %>
        <br/>
        <%= raw("Original song title:") %>
        <%= song.original_song_title %>
      <% end %>

       
        <br/>

      <h5>Album Name</h5>
      <%= song.album.album_name %> <br/>

      <h5>Song Duration</h5>
      <%= song.duration.strftime("%H:%M") if !song.duration.nil?%> <br/>

      <% if can? :create, Song %>
        <%= raw("<h5>Link to Song</h5>") %>
        <%= song.audio_file %> <br/>

        <%= raw("<h5>Note to Admin</h5>") %>
        <%= song.note_to_admin %> <br/>

      <% end %>
      <h5>Explicit Lyrics</h5>
      <% if song.explicit_lyrics %>
        <%= raw("Yes") %>
      <% else %>
        <%= raw("No") %>
      <% end %>
       
        <br/>

    </div>
    <div class="col-sm-7">
      <h5>Lyrics of the song</h5>
      <div id="lyrics-show">
      <%= song.lyrics %> <br/>
      </div>
    </div>
  </div>
</div>


