<%= render "songs/secondheader" %>
<%= render partial: "songs/song_show", locals: {song: @song} %>

<div class="row">

  <div class="col-sm-4">
    <a href="<%= new_song_path %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Upload Song </span>
        </button>
      </div>
    </a>
  </div>

  <div class="col-sm-4">
    <a href="<%= album_song_path(@song.album) %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">View album & songs</span>
        </button>
      </div>
    </a>
  </div>

  <div class="col-sm-4">
    <a href="<%= album_song_path(@song.album) %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Proceed To Checkout</span>
        </button>
      </div>
    </a>
  </div>
  
</div>
