<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <h1>Details of song <%= @song.song_title %> <%= link_to "Edit", edit_song_path(@song) %></h1>
    <div class="col-sm-5">
      <h5>Song Title</h5>
      <%= @song.song_title %> <br/>

      <h5>Song Writer</h5>
      <%= @song.song_writer %> <br/>

      <h5>Album Name</h5>
      <%= @song.album %> <br/>

      <h5>Stage/Band Name</h5>
      <%= @song.stage_band_name %> <br/>
       
      <h5>Label Name</h5>
      <%= @song.record_label %> <br/>

      <h5>Language</h5>
      <%= Song::Language.language_list[@song.language-1].text %> <br/>

      <h5>Primary Genre</h5>
      <%= Song::Genre.genre_list[@song.primary_genre].text %> <br/>

      <h5>Secondary Genre</h5>
      <%= Song::Genre.genre_list[@song.secondary_genre].text %> <br/>

      <h5>Release date</h5>
      <%= @song.release_date.strftime("%B %d %Y") %> <br/>

      <h5>Song Duration</h5>
      <%= @song.duration.strftime("%M:%S") %> <br/>

      <h5>Link to Song</h5>
      <%= @song.audio_file %> <br/>

    </div>
    <div class="col-sm-7">

      <h5>Lyrics of the song</h5>
      <%= @song.lyrics %> <br/>
      
    
    </div>
  </div>
</div>


