<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <h1>Details of song <%= @song.song_title %> <%= link_to "Edit", edit_song_path(@song) %></h1>
    <div class="col-sm-5">
      <h5>Song Title</h5>
      <%= @song.song_title %> <br/>

      <h5>Song Writer</h5>
      <%= @song.song_writer %> <br/>

      <h5>Album Name</h5>
      <%= @song.album.album_name %> <br/>

      <h5>Song Duration</h5>
      <%= @song.duration.strftime("%H:%M") %> <br/>

      <h5>Link to Song</h5>
      <%= @song.audio_file %> <br/>

      <h5>Note to Admin</h5>
      <%= @song.note_to_admin %> <br/>

    </div>
    <div class="col-sm-7">
      <h5>Lyrics of the song</h5>
      <div id="lyrics-show">
      <%= @song.lyrics %> <br/>
      </div>
    </div>
  </div>
</div>


