<div class="profile-box tab-pane">
  <div class="row">
    <div class="col-md-4 vertical-line">
      <img src="<%=album.album_cover %>"class="img-responsive"  alt="">
    </div>
    <div class="col-md-8">
      <br/>
      <div class="vertical-line box-title">
        <%= album.album_name %>
      </div>
      <%= album.stage_band_name %>
        
       
    <hr style="border-top: 1px solid #746eaa;"/>

      <div class="row">
        <div class="col-xs-6">
          <h5 class='low-opacity-font'> Release Date </h5>
          
        </div>
        <div class="col-xs-6">
          <h5 class='low-opacity-font' >Language</h5>
          <%= Album::Language.language_list[album.language-1].text %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <h5 class='low-opacity-font' >Genre</h5>
          <%= Album::Genre.genre_list[album.primary_genre].text %>
          <% if Album::Genre.genre_list[album.secondary_genre].text!= 0 && Album::Genre.genre_list[album.secondary_genre].text!= "Select a genre" %> 
            <%= raw(" & ") %>
            <%= Album::Genre.genre_list[album.secondary_genre].text %>
          <% end %>
        </div>
        <div class="col-xs-6">
          <% if album.record_label.present? %>
            <h5 class='low-opacity-font' >Record Label</h5>
            <%=album.record_label %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>