<%= render "songs/secondheader" %>
<h2>The following are the details of the album <%= @album.album_name %> and the songs that belong to it. </h2>

<%= render partial: "albums/album_show", locals: {album: @album}  %>

<%# <%= @album.songs.count %>
<% @album.songs.each do |song| %>
<%= render partial: "songs/song_show", locals: {song: song} %>
<% end %>

<br/>
<br/>
<br/>

<div class="row">

  <div class="col-sm-offset-1 col-sm-5">
    <a href="<%= new_song_path %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Upload Song </span>
        </button>
      </div>
    </a>
  </div>


  <div class="col-sm-6">
    <a href="<%= cart_page_path %>">
      <div class="signup-updates">
        <button class="btn btn-lg btn-transparent">
          <span id="updates">Checkout to Cart </span>
        </button>
      </div>
    </a>
  </div>

</div>
