<div class="container">
  <div class="row">
    <%= form_for(@payment) do |f| %>
          <%= render partial: 'shared/error_messages', locals: {resource: @payment}  %>
        <%= f.hidden_field :express_token %>
        <h3> Payment Confirmation details </h3>
        <p>
          Your name:  <%= @payment.name %> <br/>
          Email: <%= @payment.email %><br/>
          Your country: <%= @payment.country %> <br/>
          Amount: <%= @payment.amount %><br/>
        </p>

      <%= f.submit "Complete Payment", class: 'btn btn-transparent'  %> &nbsp;&nbsp;&nbsp;&nbsp; <%= link_to "Cancel and Make new Payment", wallet_path, class:"btn btn-md btn-transparent" %>
    <% end %>
</div>
</div>
