<!DOCTYPE html>
<html>
<head>
  <title>Alphabeats - Invest in great music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="wrapper">
  <%= render "static_pages/header" %>
  <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>

  <div class=<%= Width::CONTAINER %>>
    
      <%= yield %>
    
  </div>
  <div class="push"></div>
</div>
  <%= render "static_pages/footer" %>
</body>
</html>
